body {
    font-family: "poppins";
    background-color: black;
    display: flex;
    text-align: center;

}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-weight: bold;
}
#Your-User {

    top: 0%;
    left: 100vh;
    color: white;
    font-weight: bold;
}

#Enemy-User {
    position: relative;
    top: 0%;
    left: 100vh;
    display: flex;
    color: white;
    font-weight: bold;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;

}

.box:hover{
    background-color: gray;
    width: 19vmin;
    height: 19vmin;

}