<title>Start</title>

<body>
    <div id="user-creatorContent">
        <h1 id="title">Create your user!</h1>
            <form id="user-form">
                <div id="create-user">
                    <input type="text" id="username" placeholder="type your name" autocomplete="off">
                    <button type="submit" id="submitUser" class="submit-user">submit</button>
                </div>
            </form>
    </div>
</body>


<link rel="stylesheet" href="/css/UserStyles.css" type="text/css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">


