<title>TicTacToe: Create your user</title>

<body> 

    <div class="container">
        
            <h1 id="title"> Create your user </h1>
        
            <form id="userForm">
                <div id="userData">

                    <div class="input-buttons">
                        <input type="text" id="userInput" class="username" placeholder="Digite seu nome aqui" autocomplete="off">
                        <input type="text" id="roomInput" class="room" placeholder="Digite o nome de uma sala aqui">
                    </div>

                    <div class="choice-buttons">
                        <button type="button" id="buttonChooseSymbol"> X </button>    
                        <button type="submit" id="submitButton" class="submit-data">
                            <img src="/assets/icons/login.svg" alt="submit">
                        </button>
                    </div>

                </div>
            </form>
    </div>

</body>

<script src="/js/userScript.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/UserStyles.css" type="text/css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">