<body>
    <form id="user-form">
<h1 id="title" >Create your user!</h1>
        <div id="create-user">
            <input type="text" id="username" placeholder="type your name" autocomplete="off">
<button type="submit">submit</button>
        </div>
    </form>
</body>

<link rel="stylesheet" href="/css/UserStyles.css" type="text/css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">


