<title>Start</title>

<body>
<div class="container" id="center-box">
    <div id="create-user"></div>
        <form id="user-form" class="formUserClass">   
                <input type="text" id="username" placeholder="type your name" autocomplete="off">
                <button type="submit" id="submitUser" class="submit-user">submit</button>
        </form>

        <p>Press enter or click submit</p>
    
    </div>

</div>

</body>


<link rel="stylesheet" href="/css/UserStyles.css" type="text/css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">


