<body>
    <form id="user-form">
        <div id="create-user">
            <input type="text" id="username" placeholder="type your name" autocomplete="off">
        </div>
    </form>
</body>

<link rel="stylesheet" href="/css/UserStyles.css" type="text/css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">


