<title>Jogo da velha</title>

<body>
    <div class="container">
        <h1 class="title">Tic Tac Toe</h1>
            <div class="game">
                <button class="box" data-index="1">1</button>
                <button class="box" data-index="2">2</button>
                <button class="box" data-index="3">3</button>
                <button class="box" data-index="4">4</button>
                <button class="box" data-index="5">5</button>
                <button class="box" data-index="6">6</button>
                <button class="box" data-index="7">7</button>
                <button class="box" data-index="8">8</button>
                <button class="box" data-index="9">9</button>
            </div>
    </div>
</body>

<script src="/js/gameScript.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/gameStyles.css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">