<title>Jogo da velha</title>

<body>
    <div class="container">
        <h1 class="title">Tic Tac Toe</h1>
            <div class="game">
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
                <button class="box"></button>
            </div>
    </div>
</body>
<script src="/js/gameScript.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/gameStyles.css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">