<title>Jogo da velha</title>

<body>
    
    <h2 id="Your-User">  </h2>
    <h2 id="Enemy-User">  </h2>

    <div class="container">
        <h1 class="title">Tic Tac Toe</h1>
        
            <div class="game">
                <button class="box" data-id="1">1</button>
                <button class="box" data-id="2">2</button>
                <button class="box" data-id="3">3</button>
                <button class="box" data-id="4">4</button>
                <button class="box" data-id="5">5</button>
                <button class="box" data-id="6">6</button>
                <button class="box" data-id="7">7</button>
                <button class="box" data-id="8">8</button>
                <button class="box" data-id="9">9</button>
            </div>
    </div>

</body>

<script type="module" src="/js/gameScript.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/gameStyles.css">
<link rel="icon" href="/assets/icons/favicon.ico" type="image/ico">
<link rel="stylesheet" href="/assets/fonts/fonts.css">